@media (min-width:769px) and (max-width:1024px){
    .navul {
        display: none;
    }
    .map {
        width: 640px;
        margin-left: 100px;
        height: 200px;
    }
    .forms {
        width: 505px;
    }
}
@media (min-width:480px) and (max-width:768px){
    .navul {
        display: none;
    }
    .map {
        width: 400px;
        margin-left: 70px;
        height: 200px;
    }
    .forms {
        width: 405px;
    }
    .footerinfo {
        width: 350px;
        height: 400px;
    }
}
